body {
  font-family: 'Overpass', sans-serif;
  background: #141519;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratingState {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  background:  #212832;
}

.contenText .titleRating{
  color: #ffffff;
}

.contenText .textRating{
  color: #969DA7;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rating input {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background: #262F38;
  color: #737C8B;
}

.rating input:hover {
  background: #7C8898;
  color: #FCFFFF;
  cursor: pointer;
}

.rating input:focus {
  background: #FC7613;
  color: #FCFFFF;
}

.btn-rating {
  margin: 15px;
}

.btn-rating button{
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border:none;
  margin: auto;
  background: #FC7613;
  color: #fff;
}

.btn-rating button:hover {
  background: #fff;
  color: #FC7613;
  cursor: pointer;
}

.thanksState {
  width: 25%;
  display: none;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  background:  #212832;
}

.contenteText .titleThanks{
  color: #ffffff;
}

.contenteText .textThanks{
  color: #969DA7;
}

.ico {
  margin: 15px auto;
}

.ratingSelected {
  margin: auto;
  height: 20px;
  border-radius: 50px;
  background: #262F38;
  color: #FC7613;
  padding: 5px;
}

.ratingSelected p {
  margin: auto;
}

.contenteText {
  text-align: center;
}

.attribution { 
  font-size: 11px; text-align: center;
  color:#FCFFFF;
  margin-top: 10px;
}

.attribution a { 
  color: #FC7613; 
  text-decoration: none;
}

@media (max-width: 500px) {
  .ratingState, .thanksState {
    width: 250px;
  }
  .btn-rating {
    margin: 22px auto 0px;
    width: 100%;
  }
}